div
 {
display:inline;
/*padding: 5px;*/
float: left;
width:25%;
/*position: fixed;*/
}
h1{
    text-align: center;
}
img{
    border-radius: 20px;
}

h2{
    text-align:center;
    margin-bottom: 50px;
}

