
.gradient-custom-4 {
    /* fallback for old browsers */
background: #F8B868;
    
    /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #F8B868, #8F3508);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #F8B868, #8F3508);

border-color: black;
    }

button {
    border-color: black;
}