.pageAccueil h1 {
  text-align: center;
  text-decoration: underline;
  margin: 50px;
  padding: 50px;
  font-size: 3rem;
  border: solid 2px red;
  background-color: blueviolet;
  opacity: 50%;
  border-radius: 50px;
  text-decoration-color: blue;
  color: chartreuse;
}

.pageAccueil h2 {
  text-align: center;
  margin: 50px;
  padding: 50px;
  text-transform: uppercase;
  color: aqua;
  text-decoration: aquamarine;
}
.pageAccueil {
  color: antiquewhite;
  min-height: 50vh;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)),
    url(./assets/images/painbackground.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.image1 {
  display: flex;
  justify-content: center;
}
.image1 img {
  border-radius: 50px;
}
.texte1 {
  width: 100%;
  text-align: center;
  color: blue;
  font-size: 2rem;
}
