h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
}
.pageAccueil {
  color: antiquewhite;
  min-height: 300vh;
  width: 100%;
  background-image: url(./assets/images/painbackground.webp);
}
.image1 {
  display: flex;
  justify-content: center;
}
.image1 img {
  border-radius: 50px;
}
.texte1 {
  text-align: center;
  color: blue;
}
